.nav-icon {
    text-align: center;
    color: gray;
    text-decoration: none;
}

.navbar {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgb(248, 249, 250);
    border-top: 1px solid #ddd;
    z-index: 100;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    padding: 5px 0;
  }

.nav-icon p {
    margin: 0;
    font-size: 12px;
}

.nav-icon.active i {
    color: #6a4cc3;
}

.nav-icon.active p {
    color: #6a4cc3;
}


.nav-icon i {
    font-size: 20px;
}