/* FoundFeed.css */

.found-feed {
    position: relative;
    background-color: #ffffffc8;
    min-height: 100vh;
  }
  
  .found-feed-tabs {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    gap: 5px;
    border: none;
  }
  
  .found-feed-tabs .nav-link {
    color: #6a4cc3;
    font-weight: 600;
    padding: 8px 26px;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .found-feed-tabs .nav-link.active {
    background-color: #6a4cc3 !important;
    color: white;
    border: none;
  }
  
  .found-feed-tabs .nav-link:hover {
    background-color: #d3c4f7;
    color: #6a4cc3;
  }
  
  .custom-tab-title {
    font-size: 16px;
    display: flex;
    align-items: center;
  }
  
  .found-feed-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    background-color: #eae7f5;
    border-bottom: 1px solid #ddd;
    /* position: sticky; */
    top: 0;
    /* z-index: 10; */
  }
  
  .view-mode-buttons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  
  .view-button {
    padding: 8px 16px;
    border: none;
    border-radius: 20px;
    background-color: #ccc;
    cursor: pointer;
    font-size: 14px;
  }
  
  .view-button.active {
    background-color: #6a4cc3;
    color: #fff;
  }
  
  .found-feed-main {
    padding: 2px;
  }
  
  .item-list {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: center; /* Center items horizontally */
    gap: 20px; /* Space between items */
    padding: 20px 0;
  }
  
  /* Responsive Layout */
  @media (min-width: 768px) {
    .item-list {
      justify-content: flex-start; /* Align items to the start on larger screens */
    }
  }
  